@import "./var_mixin_func";

.#{$prefix} {
  &-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    &__icon {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 14px;
      font-size: 0;
      color: #c5c8ce;
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 100%;
        height: 100%;
        fill: currentColor;
      }
    }
    > *:not(.#{$prefix}-sort__icon) {
      flex: 1;
    }
  }
}