@import './common/var';

.#{$prefix}-collapse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  text-align: left;
  width: 100%;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2),
    0 1px 1px 0 rgba(0, 0, 0, .14),
    0 1px 3px 0px rgba(0, 0, 0, .12);
  &-panel {
    flex: 1 0 100%;
    max-width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .12);
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    &:first-child {
      border-top: none !important;
    }
    &__header {
      display: flex;
      align-items: center;
      position: relative;
      padding: 10px 15px;
      min-height: 40px;
      box-sizing: border-box;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      > *:not(.#{$prefix}-collapse-panel__actions) {
        flex: 1 1 auto;
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      transition: .3s cubic-bezier(.25, .8, .5, 1);
      .#{$prefix}-collapse-panel--active & {
        transform: rotate(-180deg);
      }
      &__svg {
        width: 20px;
        height: 20px;
        fill: rgba(0, 0, 0, .54);
      }
    }
    &__body {
      transition: .3s cubic-bezier(.25, .8, .5, 1);
      overflow: hidden;
    }
    &__content {
      padding: 10px 15px;
      border-radius: 0;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, .2),
        0 0 0 0 rgba(0, 0, 0, .14),
        0 0 0 0 rgba(0, 0, 0, .12);
    }
  }
}