$prefix: hs;

$theme_color: #108ee9;

// fonts
$hs-font-family: "hsvui-icons" !default;
$hs-font-path: "fonts" !default;

$hs-icon-down: "\e900";
$hs-icon-left: "\e901";
$hs-icon-right: "\e902";
$hs-icon-search: "\e903";
$hs-icon-up: "\e904";

$icon-size-map: (xxs, 15), (xs, 18), (sm, 21), (md, 22), (lg, 36);